<%= title "About" %>

<article class="about">
	<h2>About me</h2>

	<div class="about-img"><%= image_tag "ali.jpg" %></div>

	<p>My name is Ali, a French guy. I was born in <a href="https://maps.google.com/maps?q=Elbistan,+Turkey&amp;hl=en&amp;ie=UTF8&amp;ll=44.339565,34.804688&amp;spn=58.384741,146.513672&amp;sll=28.536275,35.683594&amp;sspn=68.92177,146.513672&amp;oq=Elbistan,+tu&amp;hnear=Elbistan%2FKahramanmara%C5%9F+Province,+Turkey&amp;t=k&amp;z=4">Elbistan</a> (Turkey) in a Kurdish family. I lived a few years in the Netherlands then in Switzerland (Lausanne). Today I live in <a href="/tags/paris">Paris</a> and work as a Software Engineer in a startup called <a href="http://appsfire.com">Appsfire</a>.</p>

	<p>As you might already guess I’m far from being a professional photographer nor a <a href="http://wvs.topleftpixel.com/">famous one</a>, this is not my primary goal with this site. I'm only taking picture by and with passion, it's a way to immortalize interesting daily life scenes and oh <b>I try to always have my camera with me</b>.</p>

	<p>Concerning my pictures, nearly all of them have been taken with a <a href="/tags/canon-5d-mark-ii">Ca</a><a href="/tags/canon-30d">non</a>, a few of them with a <a href="/tags/nikon-d700">Nikon</a> or a <a href="/tags/leica-m6">Leica</a>. I mainly shoot with prime lenses and preferably with a <a href="/tags/canon-35mm-f-1-4">35mm</a> or a <a href="/tags/canon-50mm-f-1-4">5</a><a href="/tags/nikkor-50mm-f-1-4-af-s">0</a><a href="/tags/sigma-50mm-f-1-4">m</a><a href="/tags/canon-50mm-f-1-8">m</a>.
	</p>

	<p>I have great respect for the people I photograph and I thank each of them for letting me photograph them. For the greatest chance, if you recognize yourself in one of my photos and you do not want me to put it on my website, send me an email and I will quickly take it away.</p>

	<p>Thank you for taking the time to read these few lines and if you have any questions do not hesitate to contact me, I answer to all the emails.</p>

	<h2>Want a pictures?</h2>

	<p>You can order limited editions of my pictures. To do so, send me an <a href="mailto:mail@alikaragoz.net?subject=Hello%20Ali%20I%20want%20a%20Picture">email</a> telling me which photo(s) you want. Note that some of them are not available for print or in certain sizes.</p>

	<p>The pictures will be printed by a professional lab in Paris on very good quality paper. Every picture is numbered and signed by me. Prints larger than 20×30 cm (8×12 inch) will be sent in a solid tube to avoid any damage during the transport.</p>

	<p>For other inquiries, such editorial request, please send me an <a href="mailto:mail@alikaragoz.net?subject=Hello%20Ali">email</a>.</p>
</article>